<h1> My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= task.completed ? 'checked' : '' %> disabled>
      <label><%= task.title %></label>
      <p><%= task.details %></p>
    </li>
  <% end %>
</ul>
